<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Market</title>
    <link type="text/css" rel="stylesheet" href="dist/css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="dist/css/index.css"/>
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                    <div class="container py-4">
                        <a class="navbar-brand text-primary" href="/">Public Market</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        </div>
                    </div>
                </nav>
                <section class="bg-light py-10">
                    <div class="container-fluid h-custom">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                          <img src="dist/img/drawkit-content-man-color.svg" class="img-fluid"
                            alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                          <form action="/authenticate" method="POST">
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                              <p class="lead fw-normal mb-0 me-3">Iniciar sesión con:</p>
                              <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                              </button>
                  
                              <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                              </button>
                            </div>
                            <div class="divider d-flex align-items-center my-4">
                              <p class="text-center fw-bold mx-3 mb-0">O</p>
                            </div>
                  
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label text-gray-600" for="form3Example3">Usuario</label>
                                <div class="form-group"><input class="form-control rounded-pill" id="username" type="text" name="username" /></div>
                            </div>
                  
                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <label class="form-label" for="form3Example4">Contraseña</label>
                                <div class="form-group"><input class="form-control rounded-pill" id="password" type="password" name="password" /></div>
                            </div>
                  
                            <div class="d-flex justify-content-between align-items-center">
                              <!-- Checkbox -->
                              <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                  Recordarme
                                </label>
                              </div>
                              <a href="#!" class="text-body">¿Olvidaste tu contraseña?</a>
                            </div>
                  
                            <div class="text-center text-lg-start mt-4 pt-2">
                              <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Ingresar</button>
                              <p class="small fw-bold mt-2 pt-1 mb-0">¿Aún no tienes cuenta? <a href="/"
                                  class="link-danger">Registrate</a></p>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="svg-border-rounded text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                  </section>
            </main>
        </div>
        <div id="layoutDefault_footer">
            <footer class="footer pt-10 pb-5 mt-auto bg-primary footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-brand">Public Market</div>
                            <div class="mb-3">¡Descarga nuestra App!</div>
                            <div class="icon-list-social mb-5">
                                <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="offset-lg-6 col-lg-6 col-md-6 col-6 text-center">
                                    <div class="mb-4">Disponible</div>
                                    <img src="dist/img/disponible.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5" />
                    <div class="row align-items-center">
                        <div class="col-md-6 small">Copyright &copy; Public Market</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="javascript:void(0);">Política de Privacidad</a>
                            &middot;
                            <a href="javascript:void(0);">Terminos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>